<!-- Top Navbar -->
<nav class="navbar navbar-dark bg-dark px-3">
  <button class="btn btn-outline-light d-lg-none" id="toggleSidebar">
    <i class="bi bi-list"></i>
  </button>
  <a class="navbar-brand ms-2" href="#">Admin Panel</a>

  <div class="ms-auto dropdown">
    <a class="text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
      <i class="bi bi-person-circle"></i> <span sec:authentication="name">User</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li sec:authorize="hasAnyRole('USER')"><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>